version: '3.8'
services:
  service1:
    build:
      context: ./MainSite
      dockerfile: Dockerfile
    image: plenkyy/microfrontend-service1
    ports:
      - 8080:80

  service2:
    build:
      context: ./reporting_host_mf
      dockerfile: Dockerfile
    image: plenkyy/microfrontend-service2
    ports:
      - 3050:80
